KOST-Val/src/main/resources_notJar/resources/callas_pdfaPilotServer_Win_7.2.276_cli-a/var/SOAP/ns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://callassoftware.com/cws.xsd/Service.wsdl"
 xmlns:tns="http://callassoftware.com/cws.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="http://callassoftware.com/cws.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://callassoftware.com/cws.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://callassoftware.com/cws.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="extArguments"><!-- ns__extArguments -->

   <sequence>
     <element name="userID" type="xsd:string" minOccurs="1" maxOccurs="1">
     <annotation>
      <documentation>Unique ID created by client. If this id is empty it will be ignored. Otherwise the id is used to make progress information available via HTTP Get http://localhost:1201/exExecute/userID/progress. If the same userID is currently used for another extExecute call, the call to extExecute will fail.</documentation>
     </annotation>
     </element>
     <element name="args" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
     <annotation>
      <documentation>A list of arguments passed to callas pdfToolbox or pdfaPilot. Possible arguments are the same as for callas pdfToolbox or callas pdfaPliot.</documentation>
     </annotation>
     </element>
   </sequence>
  </complexType>
  <!-- operation request element -->
  <element name="extExecute">
   <complexType>
    <sequence>
     <element name="args" type="ns:extArguments" minOccurs="1" maxOccurs="1"/><!-- ns__extExecute::args -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="extExecuteResult">
   <complexType>
    <sequence>
     <element name="consoleOut" type="xsd:string" minOccurs="1" maxOccurs="1">
     <annotation>
      <documentation>The return code from the remote call</documentation>
     </annotation>
     </element>
     <element name="returnCode" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns__extExecuteResult::returnCode -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="extExecute">
 <part name="Body" element="ns:extExecute"/><!-- ns__extExecute::ns__extExecute -->
</message>

<message name="extExecuteResult">
 <part name="Body" element="ns:extExecuteResult"/><!-- ns__extExecute::status -->
</message>

<portType name="ServicePortType">
 <operation name="extExecute">
  <documentation>Remotely executes a command according to cli arguments and returns the return code and console output. All paths used in arguments must be accessible to remote machine. The supported arguments are the same as for callas pdfToolbox CLI or callas pdfaPilot CLI respectively. </documentation>
  <input message="tns:extExecute"/>
  <output message="tns:extExecuteResult"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="extExecute">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>Public SOAP interface for remote excution of callas pdfToolbox or callas pdfaPilot commands</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:1201"/>
 </port>
</service>

</definitions>
