KOST-Val/src/main/KOST-Val_resources_notJar/resources/header_1d/eCH-0160v1.3/xsd/zusatzDaten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="base.xsd"/>
	<xs:complexType name="zusatzDaten" mixed="false">
		<xs:sequence>
			<xs:element name="merkmal" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="text4">
							<xs:attribute name="name" type="text4" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
