KOST-Val/src/main/resources_notJar/resources/header_1d/eCH-0160v1.1/xsd/arelda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by XMLSPY 2005 Professional Ed., Installed for 5 users (Schweiz Landesbibliothek) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:arelda="http://bar.admin.ch/arelda/v4"
        xmlns="http://bar.admin.ch/arelda/v4"
        targetNamespace="http://bar.admin.ch/arelda/v4"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="4.1">
  <xs:include schemaLocation="ablieferung.xsd"/>
  <xs:include schemaLocation="paket.xsd"/>
  <xs:include schemaLocation="provenienz.xsd"/>
  <xs:include schemaLocation="ordnungssystem.xsd"/>
  <xs:include schemaLocation="ordnungssystemposition.xsd"/>
  <xs:include schemaLocation="dossier.xsd"/>
  <xs:include schemaLocation="dokument.xsd"/>
  <xs:include schemaLocation="ordner.xsd"/>
  <xs:include schemaLocation="datei.xsd"/>
  <xs:include schemaLocation="archivischerVorgang.xsd"/>
  <xs:include schemaLocation="archivischeNotiz.xsd"/>
  <xs:include schemaLocation="zusatzDaten.xsd"/>
  <xs:element name="paket" type="paket"/>
  <xs:complexType name="paket" abstract="true">
    <xs:sequence>
      <xs:element name="paketTyp" type="paketTyp"/>
      <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="schemaVersion" type="schemaVersion" use="required"/>
  </xs:complexType>

  <xs:complexType name="paketSIP">
    <xs:complexContent>
      <xs:extension base="paket">
        <xs:sequence>
          <xs:element name="inhaltsverzeichnis" type="inhaltsverzeichnisSIP"/>
          <xs:element name="ablieferung" type="ablieferungSIP"/>
          <xs:element name="archivischerVorgang" type="archivischerVorgang" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="referenzUebernahmedossier" type="referenzUebernahmedossier" minOccurs="0"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="paketAIP">
    <xs:complexContent>
      <xs:extension base="paket">
        <xs:sequence>
          <xs:element name="globaleAIPId" type="globaleAIPId"/>
          <xs:element name="lokaleAIPId" type="lokaleAIPId"/>
          <xs:element name="fruehereLokaleAIPId" type="fruehereLokaleAIPId" minOccurs="0"/>
          <xs:element name="nameSIP" type="nameSIP" minOccurs="0"/>
          <xs:element name="version" type="version"/>
          <xs:element name="inhaltsverzeichnis" type="inhaltsverzeichnisAIP"/>
          <xs:element name="ablieferung" type="ablieferungAIP"/>
          <xs:element name="archivischerVorgang" type="archivischerVorgang" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="referenzUebernahmedossier" type="referenzUebernahmedossier" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="paketDIP">
    <xs:complexContent>
      <xs:extension base="paket">
        <xs:sequence>
          <xs:element name="globaleAIPId" type="globaleAIPId"/>
          <xs:element name="lokaleAIPId" type="lokaleAIPId"/>
          <xs:element name="fruehereLokaleAIPId" type="fruehereLokaleAIPId" minOccurs="0"/>
          <xs:element name="nameSIP" type="nameSIP" minOccurs="0"/>
          <xs:element name="inhaltsverzeichnis" type="inhaltsverzeichnisDIP"/>
          <xs:element name="ablieferung" type="ablieferungDIP"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="archivischerVorgang">
    <xs:sequence>
      <xs:element name="vorgangstyp" type="vorgangstyp"/>
      <xs:element name="beschreibung" type="beschreibung"/>
      <xs:element name="datum" type="zeitraum">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zeitpunkt, zu welchem der archivische Vorgang durchgeführt wurde.</xs:documentation>
          <xs:documentation xml:lang="en">Time point at which the archival process was carried out.</xs:documentation>
          <xs:documentation xml:lang="fr">Moment où l'activité archivistique a été effectuée.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="bearbeiter" type="bearbeiter"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ablieferung" abstract="true">
    <xs:sequence>
      <xs:element name="ablieferungstyp" type="ablieferungstyp"/>
      <xs:element name="ablieferndeStelle" type="ablieferndeStelle"/>
      <xs:element name="entstehungszeitraum" type="historischerZeitraum" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Der Entstehungszeitraum der Ablieferung wird aus dem ältesten Entstehungsdatum und dem jüngsten Datum der Dokumente oder Dateien ermittelt, die der Ablieferung zugeordneten  sind. Der Zeitraum kann auch geschätzt sein.</xs:documentation>
          <xs:documentation xml:lang="en">The creation period of the submission is calculated from the earliest creation date and the most recent date of the documents or files allocated to the submission. The period may also be estimated.</xs:documentation>
          <xs:documentation xml:lang="fr">La période de création du versement est déterminée par la date de création la plus ancienne et par la date la plus récente des documents ou des fichiers , qui sont attribués au versement. La période peut aussi être estimée</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="ablieferungsteile" type="ablieferungsteile" minOccurs="0"/>
      <xs:element name="bemerkung" type="bemerkungAblieferung" minOccurs="0"/>
      <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
      <xs:element name="unstrukturierterAnhang" type="unstrukturierterAnhang" minOccurs="0" maxOccurs="unbounded">
        <xs:unique name="uniqueDateiRefUnstrukturierterAnhang">
          <xs:annotation>
            <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
            <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
            <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
            <xs:documentation xml:lang="it"/>
          </xs:annotation>
          <xs:selector xpath="./arelda:dateiRef"/>
          <xs:field xpath="."/>
        </xs:unique>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ablieferungSIP" abstract="true">
    <xs:complexContent>
      <xs:extension base="ablieferung">
        <xs:sequence>
          <xs:element name="ablieferungsnummer" type="ablieferungsnummer" minOccurs="0"/>
          <xs:element name="angebotsnummer" type="angebotsnummer" minOccurs="0"/>
          <xs:element name="referenzBewertungsentscheid" type="referenzBewertungsentscheid" minOccurs="0"/>
          <xs:element name="referenzSchutzfristenFormular" type="referenzSchutzfristenFormular" minOccurs="0"/>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieAblieferung" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristAblieferung" minOccurs="0"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungGeverSIP">
    <xs:complexContent>
      <xs:extension base="ablieferungSIP">
        <xs:sequence>
          <xs:element name="provenienz" type="provenienzGeverSIP"/>
          <xs:element name="ordnungssystem" type="ordnungssystemGeverSIP"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungFilesSIP">
    <xs:complexContent>
      <xs:extension base="ablieferungSIP">
        <xs:sequence>
          <xs:element name="provenienz" type="provenienzFilesSIP"/>
          <xs:element name="ordnungssystem" type="ordnungssystemFilesSIP"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungAIP" abstract="true">
    <xs:complexContent>
      <xs:extension base="ablieferung">
        <xs:sequence>
          <xs:element name="ablieferungsnummer" type="ablieferungsnummer"/>
          <xs:element name="angebotsnummer" type="angebotsnummer" minOccurs="0"/>
          <xs:element name="referenzBewertungsentscheid" type="referenzBewertungsentscheid" minOccurs="0"/>
          <xs:element name="referenzSchutzfristenFormular" type="referenzSchutzfristenFormular" minOccurs="0"/>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieAblieferung" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristAblieferung" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungGeverAIP">
    <xs:complexContent>
      <xs:extension base="ablieferungAIP">
        <xs:sequence>
          <xs:element name="provenienz" type="provenienzGeverAIP"/>
          <xs:element name="ordnungssystem" type="ordnungssystemGeverAIP"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungFilesAIP">
    <xs:complexContent>
      <xs:extension base="ablieferungAIP">
        <xs:sequence>
          <xs:element name="provenienz" type="provenienzFilesAIP"/>
          <xs:element name="ordnungssystem" type="ordnungssystemFilesAIP"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungDIP" abstract="true">
    <xs:complexContent>
      <xs:extension base="ablieferung">
        <xs:sequence>
          <xs:element name="ablieferungsnummer" type="ablieferungsnummer"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungGeverDIP">
    <xs:complexContent>
      <xs:extension base="ablieferungDIP">
        <xs:sequence>
          <xs:element name="provenienz" type="provenienzGeverDIP"/>
          <xs:element name="ordnungssystem" type="ordnungssystemGeverDIP"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ablieferungFilesDIP">
    <xs:complexContent>
      <xs:extension base="ablieferungDIP">
        <xs:sequence>
          <xs:element name="provenienz" type="provenienzFilesDIP"/>
          <xs:element name="ordnungssystem" type="ordnungssystemFilesDIP"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienz" abstract="true">
    <xs:sequence>
      <xs:element name="aktenbildnerName" type="aktenbildnerName"/>
      <xs:element name="systemName" type="systemName" minOccurs="0"/>
      <xs:element name="systemBeschreibung" type="systemBeschreibung" minOccurs="0"/>
      <xs:element name="existenzzeitraum" type="historischerZeitraum" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zeitraum der Existenz des Aktenbildners.</xs:documentation>
          <xs:documentation xml:lang="en">Period of existence of the records creator.</xs:documentation>
          <xs:documentation xml:lang="fr">Période d'existence du producteur de dossiers.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="geschichteAktenbildner" type="geschichteAktenbildner" minOccurs="0"/>
      <xs:element name="bemerkung" type="bemerkungProvenienz" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provenienzGever" abstract="true">
    <xs:complexContent>
      <xs:extension base="provenienz">
        <xs:sequence>
          <xs:element name="registratur" type="registratur"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienzGeverSIP">
    <xs:complexContent>
      <xs:extension base="provenienzGever">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienzGeverAIP">
    <xs:complexContent>
      <xs:extension base="provenienzGever">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienzGeverDIP">
    <xs:complexContent>
      <xs:extension base="provenienzGever">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienzFiles" abstract="true">
    <xs:complexContent>
      <xs:extension base="provenienz">
        <xs:sequence>
          <xs:element name="registratur" type="registratur" minOccurs="0"/>
          <xs:element name="verwandteSysteme" type="verwandteSysteme" minOccurs="0"/>
          <xs:element name="archivierungsmodusLoeschvorschriften" type="archivierungsmodusLoeschvorschriften" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienzFilesSIP">
    <xs:complexContent>
      <xs:extension base="provenienzFiles">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienzFilesAIP">
    <xs:complexContent>
      <xs:extension base="provenienzFiles">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="provenienzFilesDIP">
    <xs:complexContent>
      <xs:extension base="provenienzFiles">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystem" abstract="true">
    <xs:sequence>
      <xs:element name="generation" type="generation" minOccurs="0"/>
      <xs:element name="anwendungszeitraum" type="historischerZeitraum" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zeitraum, seit/während dem das Ordnungssystem bei der aktenbildenden Stelle eingesetzt wird/wurde.</xs:documentation>
          <xs:documentation xml:lang="en">Period since/during which the classification system has been / was used by the records-creating authority.</xs:documentation>
          <xs:documentation xml:lang="fr">Période depuis/pendant laquelle le système de classement a été/est employé chez le service producteur de dossiers.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="mitbenutzung" type="mitbenutzung" minOccurs="0"/>
      <xs:element name="bemerkung" type="bemerkungOrdnungssysstem" minOccurs="0"/>
      <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ordnungssystemGever" abstract="true">
    <xs:complexContent>
      <xs:extension base="ordnungssystem">
        <xs:sequence>
          <xs:element name="name" type="nameOrdnungssystem"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemGeverSIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystemGever">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverSIP" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemGeverAIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystemGever">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverAIP" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemGeverDIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystemGever">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverDIP" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemFiles" abstract="true">
    <xs:complexContent>
      <xs:extension base="ordnungssystem">
        <xs:sequence>
          <xs:element name="name" type="nameOrdnungssystem" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemFilesSIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystemFiles">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesSIP" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemFilesAIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystemFiles">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesAIP" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemFilesDIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystemFiles">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesDIP" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystemposition" abstract="true">
    <xs:sequence>
      <xs:element name="federfuehrendeOrganisationseinheit" type="federfuehrendeOrganisationseinheitOrdnungssystemposition" minOccurs="0"/>
      <xs:element name="klassifizierungskategorie" type="klassifizierungskategorieOrdnungssystemposition" minOccurs="0"/>
      <xs:element name="datenschutz" type="datenschutzOrdnungssystemposition" minOccurs="0"/>
      <xs:element name="oeffentlichkeitsstatus" type="oeffentlichkeitsstatusOrdnungssystemposition" minOccurs="0"/>
      <xs:element name="oeffentlichkeitsstatusBegruendung" type="oeffentlichkeitsstatusBegruendungOrdnungssystemposition" minOccurs="0"/>
      <xs:element name="sonstigeBestimmungen" type="sonstigeBestimmungenOrdnungssystemposition" minOccurs="0"/>
      <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionGever" abstract="true">
    <xs:complexContent>
      <xs:extension base="ordnungssystemposition">
        <xs:sequence>
          <xs:element name="nummer" type="nummer"/>
          <xs:element name="titel" type="titelOrdnungssystemposition"/>
        </xs:sequence>
        <xs:attribute name="id" type="idOrdnungssystemposition" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionGeverSIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystempositionGever">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverSIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dossier" type="dossierGeverSIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionGeverAIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystempositionGever">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverAIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dossier" type="dossierGeverAIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionGeverDIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystempositionGever">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverDIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dossier" type="dossierGeverDIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionFiles" abstract="true">
    <xs:complexContent>
      <xs:extension base="ordnungssystemposition">
        <xs:sequence>
          <xs:element name="nummer" type="nummer" minOccurs="0"/>
          <xs:element name="titel" type="titelOrdnungssystemposition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="idOrdnungssystemposition" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionFilesSIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystempositionFiles">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesSIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dossier" type="dossierFilesSIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefDossierFilesSIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionFilesAIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystempositionFiles">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungOrdnungssystemposition" minOccurs="0"/>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesAIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dossier" type="dossierFilesAIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefDossierFilesAIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnungssystempositionFilesDIP">
    <xs:complexContent>
      <xs:extension base="ordnungssystempositionFiles">
        <xs:sequence>
          <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesDIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dossier" type="dossierFilesDIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefDossierFilesDIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossier" abstract="true">
    <xs:sequence>
      <xs:element name="zusatzmerkmal" type="zusatzmerkmal" minOccurs="0"/>
      <xs:element name="titel" type="titelDossier"/>
      <xs:element name="inhalt" type="inhalt" minOccurs="0"/>
      <xs:element name="formInhalt" type="formInhalt" minOccurs="0"/>
      <xs:element name="erscheinungsform" type="erscheinungsformDossier" minOccurs="0"/>
      <xs:element name="federfuehrendeOrganisationseinheit" type="federfuehrendeOrganisationseinheitDossier" minOccurs="0"/>
      <xs:element name="entstehungszeitraum" type="historischerZeitraum">
        <xs:annotation>
          <xs:documentation xml:lang="de">Der Entstehungszeitraum des Dossiers wird aus dem ältesten Entstehungsdatum und dem jüngsten (Änderungs)datum aller dem Dossier zugeordneten Dokumente oder Dateien ermittelt. Der Zeitraum kann auch geschätzt sein.</xs:documentation>
          <xs:documentation xml:lang="en">The creation period of the dossier is calculated from the earliest creation date and the most recent (change) date of all the documents or files allocated to the dossier. The period may also be estimated.</xs:documentation>
          <xs:documentation xml:lang="fr">La période de création du dossier est déterminée par la date de création la plus ancienne et par la date (de modification) la plus récente de tous les documents ou fichiers attribués au dossier. La période peut aussi être estimée.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="entstehungszeitraumAnmerkung" type="entstehungszeitraumAnmerkung" minOccurs="0"/>
      <xs:element name="klassifizierungskategorie" type="klassifizierungskategorieDossier" minOccurs="0"/>
      <xs:element name="datenschutz" type="datenschutzDossier" minOccurs="0"/>
      <xs:element name="oeffentlichkeitsstatus" type="oeffentlichkeitsstatusDossier" minOccurs="0"/>
      <xs:element name="oeffentlichkeitsstatusBegruendung" type="oeffentlichkeitsstatusBegruendungDossier" minOccurs="0"/>
      <xs:element name="sonstigeBestimmungen" type="sonstigeBestimmungenDossier" minOccurs="0"/>
      <xs:element name="bemerkung" type="bemerkungDossier" minOccurs="0"/>
      <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="idDossier" use="required"/>
  </xs:complexType>

  <xs:complexType name="dossierGever" abstract="true">
    <xs:complexContent>
      <xs:extension base="dossier">
        <xs:sequence>
          <xs:element name="aktenzeichen" type="aktenzeichen"/>
          <xs:element name="eroeffnungsdatum" type="historischerZeitpunkt" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">Zeitpunkt, an dem das Dossier eröffnet worden ist.</xs:documentation>
              <xs:documentation xml:lang="en">Time point at which the dossier was opened.</xs:documentation>
              <xs:documentation xml:lang="fr">Moment où le dossier a été ouvert.</xs:documentation>
              <xs:documentation xml:lang="it"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="abschlussdatum" type="historischerZeitpunkt" minOccurs="0">
            <xs:annotation>
              <xs:documentation xml:lang="de">Zeitpunkt, an dem das Dossier abgeschlossen worden ist.</xs:documentation>
              <xs:documentation xml:lang="en">Time point at which the dossier was opened.</xs:documentation>
              <xs:documentation xml:lang="fr">Moment où le dossier a été clos.</xs:documentation>
              <xs:documentation xml:lang="it"/>
            </xs:annotation>
          </xs:element>
          <xs:element name="vorgang" type="vorgangAktivitaet" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="de">Vorgangsobjekte repräsentieren einzelne, abgrenzbare Geschäftsfälle. Der Vorgang wird durchgeführt über eine Folge von einzelnen Aktivitäten. Einer einzelnen Aktivität sind in der Regel ein federführender Akteur zugewiesen.</xs:documentation>
              <xs:documentation xml:lang="en">Process representing separately identifiable business cases . A process is performed through a sequence of individual operations. To each single activity is usually leading actorassigned.</xs:documentation>
              <xs:documentation xml:lang="fr">Les objets du processus représentent des cas particuliers délimitables</xs:documentation>
              <xs:documentation xml:lang="it"/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossierGeverSIP">
    <xs:complexContent>
      <xs:extension base="dossierGever">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieDossier" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristDossier" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungDossier" minOccurs="0"/>
          <xs:element name="dossier" type="dossierGeverSIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dokument" type="dokumentGeverSIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossierGeverAIP">
    <xs:complexContent>
      <xs:extension base="dossierGever">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieDossier" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristDossier" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungDossier" minOccurs="0"/>
          <xs:element name="dossier" type="dossierGeverAIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dokument" type="dokumentGeverAIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossierGeverDIP">
    <xs:complexContent>
      <xs:extension base="dossierGever">
        <xs:sequence>
          <xs:element name="dossier" type="dossierGeverDIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="dokument" type="dokumentGeverDIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossierFiles" abstract="true">
    <xs:complexContent>
      <xs:extension base="dossier">
        <xs:sequence>
          <xs:element name="aktenzeichen" type="aktenzeichen" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossierFilesSIP">
    <xs:complexContent>
      <xs:extension base="dossierFiles">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieDossier" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristDossier" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungDossier" minOccurs="0"/>
          <xs:element name="dossier" type="dossierFilesSIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefSubdossierFilesSIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="dokument" type="dokumentFilesSIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefDokumentFilesSIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="dateiRef" type="dateiRef" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="umfang" type="umfang" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossierFilesAIP">
    <xs:complexContent>
      <xs:extension base="dossierFiles">
        <xs:sequence>
          <xs:element name="schutzfristenkategorie" type="schutzfristenkategorieDossier" minOccurs="0"/>
          <xs:element name="schutzfrist" type="schutzfristDossier" minOccurs="0"/>
          <xs:element name="schutzfristenBegruendung" type="schutzfristenBegruendungDossier" minOccurs="0"/>
          <xs:element name="dossier" type="dossierFilesAIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefSubdossierFilesAIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="dokument" type="dokumentFilesAIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefDokumentFilesAIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="dateiRef" type="dateiRef" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="umfang" type="umfang" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dossierFilesDIP">
    <xs:complexContent>
      <xs:extension base="dossierFiles">
        <xs:sequence>
          <xs:element name="dossier" type="dossierFilesDIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefSubdossierFilesDIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="dokument" type="dokumentFilesDIP" minOccurs="0" maxOccurs="unbounded">
            <xs:unique name="uniqueDateiRefDokumentFilesDIP">
              <xs:annotation>
                <xs:documentation xml:lang="de">Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                <xs:documentation xml:lang="en">A file may only be referenced once.</xs:documentation>
                <xs:documentation xml:lang="fr">Un fichier ne peut être référencé qu'une seule fois.</xs:documentation>
                <xs:documentation xml:lang="it"/>
              </xs:annotation>
              <xs:selector xpath="./arelda:dateiRef"/>
              <xs:field xpath="."/>
            </xs:unique>
          </xs:element>
          <xs:element name="dateiRef" type="dateiRef" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="vorgangAktivitaet" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:element name="titel" type="titelVorgang"/>
      <xs:element name="arbeitsanweisung" type="arbeitsanweisungVorgang" minOccurs="0"/>
      <xs:element name="federfuehrung" type="federfuehrungVorgang" minOccurs="0"/>
      <xs:element name="verweis" type="verweisVorgang" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="bemerkung" type="bemerkungVorgang" minOccurs="0"/>
      <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
      <xs:element name="aktivitaet" type="aktivitaet" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="order" type="orderVorgang" use="optional"/>
  </xs:complexType>

  <xs:complexType name="aktivitaet">
    <xs:sequence>
      <xs:sequence>
        <xs:element name="vorschreibung" type="vorschreibungAktivitaet"/>
        <xs:element name="anweisung" type="anweisungAktivitaet" minOccurs="0"/>
        <xs:element name="bearbeiter" type="bearbeiterAktivitaet" minOccurs="0"/>
        <xs:element name="abschlussdatum" type="abschlussdatumAktivitaet" minOccurs="0"/>
        <xs:element name="verweis" type="verweisAktivitaet" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="bemerkung" type="bemerkungAktivitaet" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="order" type="orderAktivitaet" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="dateiRef">
    <xs:restriction base="xs:IDREFS">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="dokument" abstract="true">
    <xs:sequence>
      <xs:element name="titel" type="titelDokument"/>
      <xs:element name="autor" type="autor" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="erscheinungsform" type="erscheinungsformDokument"/>
      <xs:element name="dokumenttyp" type="dokumenttyp" minOccurs="0"/>
      <xs:element name="registrierdatum" type="historischerZeitpunkt" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zeitpunkt an welchem das Dokument im System einem Dossier zugeordnet worden ist.</xs:documentation>
          <xs:documentation xml:lang="en">Time point at which a document was added to the dossier.</xs:documentation>
          <xs:documentation xml:lang="fr">Moment où le document est attribué à un dossier dans le système.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="entstehungszeitraum" type="historischerZeitraum" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zeitliche Angabe über die Entstehung des Dokuments. Als Entstehung des Dokuments kann das Datum seiner Erstellung angegeben werden, oder den Zeitraum, in dem das Dokument entstanden ist (aus dem ältesten Entstehungsdatum und dem jüngsten Datum des Dokuments ermittelt). Der Zeitraum kann auch geschätzt sein.</xs:documentation>
          <xs:documentation xml:lang="en">Period of the origin of the document. As creation time of the document the date of its creation can be specified, or the period in which the document was created (determined from the oldest creation date and the most recent date of the document) . The period can also be estimated.</xs:documentation>
          <xs:documentation xml:lang="fr">Indications temporelles sur la création du document. Comme création du document peut être indiquée la date de son élaboration ou la période durant laquelle le document a été créé (déterminée par la date de création la plus ancienne et par la date du document le plus récent). La période peut aussi être estimée.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
      <xs:element name="klassifizierungskategorie" type="klassifizierungskategorieDokument" minOccurs="0"/>
      <xs:element name="datenschutz" type="datenschutzDokument" minOccurs="0"/>
      <xs:element name="oeffentlichkeitsstatus" type="oeffentlichkeitsstatusDokument" minOccurs="0"/>
      <xs:element name="oeffentlichkeitsstatusBegruendung" type="oeffentlichkeitsstatusBegruendungDokument" minOccurs="0"/>
      <xs:element name="sonstigeBestimmungen" type="sonstigeBestimmungenDokument" minOccurs="0"/>
      <xs:element name="bemerkung" type="bemerkungDokument" minOccurs="0"/>
      <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
      <xs:element name="dateiRef" type="dateiRef" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="idDokument" use="required"/>
  </xs:complexType>

  <xs:complexType name="dokumentGever" abstract="true">
    <xs:complexContent>
      <xs:extension base="dokument">
        <xs:sequence>
          <xs:element name="anwendung" type="anwendung" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dokumentGeverSIP">
    <xs:complexContent>
      <xs:extension base="dokumentGever">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dokumentGeverAIP">
    <xs:complexContent>
      <xs:extension base="dokumentGever">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dokumentGeverDIP">
    <xs:complexContent>
      <xs:extension base="dokumentGever">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dokumentFiles" abstract="true">
    <xs:complexContent>
      <xs:extension base="dokument">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dokumentFilesSIP">
    <xs:complexContent>
      <xs:extension base="dokumentFiles">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dokumentFilesAIP">
    <xs:complexContent>
      <xs:extension base="dokumentFiles">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dokumentFilesDIP">
    <xs:complexContent>
      <xs:extension base="dokumentFiles">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="inhaltsverzeichnis" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="inhaltsverzeichnisSIP">
    <xs:complexContent>
      <xs:extension base="inhaltsverzeichnis">
        <xs:sequence>
          <xs:element name="ordner" type="ordnerSIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="datei" type="dateiSIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="inhaltsverzeichnisAIP">
    <xs:complexContent>
      <xs:extension base="inhaltsverzeichnis">
        <xs:sequence>
          <xs:element name="ordner" type="ordnerAIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="datei" type="dateiAIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="inhaltsverzeichnisDIP">
    <xs:complexContent>
      <xs:extension base="inhaltsverzeichnis">
        <xs:sequence>
          <xs:element name="ordner" type="ordnerDIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="datei" type="dateiDIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="datei" abstract="true">
    <xs:sequence>
      <xs:element name="name" type="nameDatei"/>
      <xs:element name="originalName" type="originalName" minOccurs="0"/>
      <xs:element name="pruefalgorithmus" type="pruefalgorithmus"/>
      <xs:element name="pruefsumme" type="pruefsumme"/>
      <xs:element name="eigenschaft" type="eigenschaftDatei" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">Name und Wert von technischen Eigenschaften der Dateien wie z.B. Felddelemiter.</xs:documentation>
          <xs:documentation xml:lang="en">Name and value of technical properties of the files such as field delimiters.</xs:documentation>
          <xs:documentation xml:lang="fr">Nom et valeur des propriétés techniques des fichiers, p. ex.:séparateur de champs.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="idDatei" use="required"/>
  </xs:complexType>

  <xs:complexType name="dateiSIP">
    <xs:complexContent>
      <xs:extension base="datei">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dateiAIP">
    <xs:complexContent>
      <xs:extension base="datei">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dateiDIP">
    <xs:complexContent>
      <xs:extension base="datei">
        <xs:sequence>
          <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordner" abstract="true">
    <xs:sequence>
      <xs:element name="name" type="nameOrdner"/>
      <xs:element name="originalName" type="originalName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ordnerSIP">
    <xs:complexContent>
      <xs:extension base="ordner">
        <xs:sequence>
          <xs:element name="ordner" type="ordnerSIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="datei" type="dateiSIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnerAIP">
    <xs:complexContent>
      <xs:extension base="ordner">
        <xs:sequence>
          <xs:element name="ordner" type="ordnerAIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="datei" type="dateiAIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ordnerDIP">
    <xs:complexContent>
      <xs:extension base="ordner">
        <xs:sequence>
          <xs:element name="ordner" type="ordnerDIP" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="datei" type="dateiDIP" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="unstrukturierterAnhang">
    <xs:sequence>
      <xs:annotation>
        <xs:documentation xml:lang="de">Referenz zu einer Datei im Inhaltsverzeichnis des Pakets.</xs:documentation>
        <xs:documentation xml:lang="en">Reference to a file in the table of contents of the package.</xs:documentation>
        <xs:documentation xml:lang="fr">Référence à un fichier dans la table des matières du paquet.</xs:documentation>
        <xs:documentation xml:lang="it"/>
      </xs:annotation>
      <xs:element name="dateiRef" type="dateiRef" minOccurs="0"/>
      <xs:element name="dateiBeschreibung" type="text4">
        <xs:annotation>
          <xs:documentation xml:lang="de">Zusätzliche unstrukturierte Informationen, welche der Ablieferung fakultativ mitgegeben werden können.</xs:documentation>
          <xs:documentation xml:lang="en">Additional unstructured information that may optionally be included with the submission.</xs:documentation>
          <xs:documentation xml:lang="fr">Informations non structurées complémentaires facultatives qui peuvent accompagner le versement.</xs:documentation>
          <xs:documentation xml:lang="it"/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="archivischeNotiz">
    <xs:sequence>
      <xs:element name="notizDatum" type="notizDatum"/>
      <xs:element name="notizErfasser" type="notizErfasser" minOccurs="0"/>
      <xs:element name="notizBeschreibung" type="notizBeschreibung"/>
    </xs:sequence>
    <xs:attribute name="id" type="idArchivischeNotiz" use="required"/>
  </xs:complexType>

  <xs:complexType name="eigenschaftDatei">
    <xs:simpleContent>
      <xs:extension base="eigenschaft">
        <xs:attribute name="name" type="text4" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
