KOST-Val/src/main/resources_notJar/resources/header_1d/eCH-0160v1.1/xsd/ordnungssystemposition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

  <xs:include schemaLocation="base.xsd"/>
  <xs:simpleType name="nummer">
    <xs:annotation>
      <xs:documentation xml:lang="de">Eindeutige Identifikation und Ordnungsmerkmal der Ordnungssystemposition.</xs:documentation>
      <xs:documentation xml:lang="en">Unambiguous identification and classification feature of the classification system position.</xs:documentation>
      <xs:documentation xml:lang="fr">Identification univoque et caractéristique de classement de la position du système de classement.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text1"/>
  </xs:simpleType>

  <xs:simpleType name="titelOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Bezeichnung des Aufgabenbereichs, dem die Ordnungssystemposition zugewiesen ist.</xs:documentation>
      <xs:documentation xml:lang="en">Designation of the area of responsibility to which the classification system position is allocated.</xs:documentation>
      <xs:documentation xml:lang="fr">Désignation du secteur d'activités qui est attribué à cette position du système de classement.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text2"/>
  </xs:simpleType>

  <xs:simpleType name="idOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Paketweit eindeutige ID (Primärschlüssel).</xs:documentation>
      <xs:documentation xml:lang="en">Unambiguous ID for the whole package (primary key).</xs:documentation>
      <xs:documentation xml:lang="fr">ID univoque pour tout le paquet (clé primaire).</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="xs:ID"/>
  </xs:simpleType>

  <xs:simpleType name="federfuehrendeOrganisationseinheitOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Bestimmung der für die Erledigung des Geschäftes zuständigen federführenden Organisationseinheit.</xs:documentation>
      <xs:documentation xml:lang="en">Name of the lead organisational unit responsible for dealing with the business matter.</xs:documentation>
      <xs:documentation xml:lang="fr">Désignation de l'unité organisationnelle responsable pour le traitement de l'affaire.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text2"/>
  </xs:simpleType>

  <xs:simpleType name="schutzfristenkategorieOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Artikel des Gesetztes, der die Schutzfrist festhält, die das Amt im Formular „Meldung von Unterlagen mit besonderer Schutzfrist und öffentlich zugänglichen Unterlagen“ gemeldet hat und vom Archiv auf ihre formale Korrektheit und Vollständigkeit kontrolliert worden ist.</xs:documentation>
      <xs:documentation xml:lang="en">Article of the ArchA stipulating the closure period reported by the authority in the "Notification of documents subject to a special closure period and publicly accessible documents" form and checked for formal correctness and completeness by the archive.</xs:documentation>
      <xs:documentation xml:lang="fr">Article de la loi qui fixe le délai de protection que l’administration a annoncé dans le formulaire "Annonce de documents avec un délai de protection particulier et de documents consultables par le public" et dont les archives ont contrôlé l’exactitude et l’intégralité.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text1"/>
  </xs:simpleType>

  <xs:simpleType name="schutzfristOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Dauer der Schutzfrist in Jahren, die das Amt im Formular „Meldung von Unterlagen mit besonderer Schutzfrist und öffentlich zugänglichen Unterlagen“ gemeldet hat und vom Archiv auf ihre formale Korrektheit und Vollständigkeit kontrolliert worden ist.</xs:documentation>
      <xs:documentation xml:lang="en">Length of the closure period in years reported by the authority in the "Notification of documents subject to a special closure period and publicly accessible documents" form and checked for formal correctness and completeness by the archive.</xs:documentation>
      <xs:documentation xml:lang="fr">Durée en années du délai de protection que l’administration a annoncé dans le formulaire "Annonce de documents avec un délai de protection particulier et de documents consultables par le public" et dont les archives ont contrôlé l’exactitude et l’intégralité.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text1">
      <xs:pattern value="[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="schutzfristenBegruendungOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Erläuterung der Begründung für eine verlängerte Schutzfrist für Unterlagen, die nach Personennamen erschlossen sind und schützenswerte Personendaten gemäss DSG enthalten (z.B. Art. 11 BGA), und für bestimmte Kategorien oder für einzelne Dossiers, die überwiegend schutzwürdige öffentliche oder private Interessen tangieren (z.B. Art. 12 Abs. 1 BGA und Art. 12 Abs. 2 BGA).</xs:documentation>
      <xs:documentation xml:lang="en">Explanation of the reasons for an extended closure period for documents that are catalogued by individuals"™ names and contain sensitive personal data in accordance with the DPA (Art. 11 ArchA) and for certain categories or individual dossiers that touch on matters where there is an overriding public or private interest in preventing consultation (Art. 12 para. 1 ArchA and Art. 12 para. 2 ArchA).</xs:documentation>
      <xs:documentation xml:lang="fr">Explication du motif de prolongation du délai de protection pour les documents classés selon des noms de personnes et contenant des données personnelles sensibles selon la LPD (par exemple art. 11 LAr) et pour des catégories définies ou pour certains dossiers qui touchent un intérêt public ou privé prépondérant, digne de protection (par exemple art. 12 al. 1 LAr et art. 12 al. 2 LAr)</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text4"/>
  </xs:simpleType>

  <xs:simpleType name="klassifizierungskategorieOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Grad, in dem alle der Ordnungssystemposition untergeordneten Objekte Dossier und Dokumente vor unberechtigter Einsicht geschützt werden müssen. Referenz: Verordnung vom 10.12.1990 über die Klassifizierung und Behandlung von Informationen im zivilen Verwaltungsbereich ([SR 172.015]) und Verordnung vom 1.5.1990 über den Schutz militärischer Informationen ([SR 510.411]).</xs:documentation>
      <xs:documentation xml:lang="en">Degree to which all the dossier and document objects subordinated to the classification system position must be protected against unauthorised access. Reference: Ordinance of 10.12.1990 on the Classification and Treatment of Information in the Civil Administration ([SR 172.015]) and Ordinance of 1.5.1990 on the Protection of Military Information ([SR 510.411]).</xs:documentation>
      <xs:documentation xml:lang="fr">Degré dans lequel doivent être protégés d'une consultation non autorisée tous les dossiers et documents subordonnés à une position du système de classement. Référence: Ordonnance du 10.12.1990 sur la classification et le traitement d'informations de l'administration civile  ([SR 172.015]) et ordonnance du 1.5.1990 sur la protection des informations militaires ([SR 510.411]</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text2"/>
  </xs:simpleType>

  <xs:simpleType name="datenschutzOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Markierung, die angibt, ob sich in den Unterlagen der Ordnungssystemposition solche mit besonders schützenswerten Personendaten oder Persönlichkeitsprofilen gemäss Datenschutzgesetz.</xs:documentation>
      <xs:documentation xml:lang="en">Marking indicating whether documents in the classification system position contain sensitive personal data or personal profiles under the Data Protection Act.</xs:documentation>
      <xs:documentation xml:lang="fr">Marque qui précise si des documents de la position du système de classement contiennent des données sensibles ou des profils de la personnalité selon la loi sur la protection des données.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>

  <xs:simpleType name="oeffentlichkeitsstatusOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Angabe, ob der Ordnungssystemposition untergeordnete Dossiers gemäss [BGÖ] schützenswerte Dokumente enthalten oder nicht.</xs:documentation>
      <xs:documentation xml:lang="en">Indication of whether or not dossiers subordinated to the classification system position contain sensitive documents under the [FoIA].</xs:documentation>
      <xs:documentation xml:lang="fr">Indiquer si les dossiers subordonnés à la position du système de classement contiennent ou non des documents dignes de protection selon la [LTrans]</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text2"/>
  </xs:simpleType>

  <xs:simpleType name="oeffentlichkeitsstatusBegruendungOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Argumente gegen die öffentliche Zugänglichkeit gemäss [BGÖ]. Gemäss Entwurf [BGÖ] muss begründet werden, warum Unterlagen nicht öffentlich zugänglich gemacht werden können.</xs:documentation>
      <xs:documentation xml:lang="en">Arguments against public access under the [FoIA]. According to the draft [FoIA], reasons why documents cannot be made publicly accessible must be stated.</xs:documentation>
      <xs:documentation xml:lang="fr">Arguments contre l'accès public selon la [LTrans]. Selon le projet de [LTrans], il faut donner les raisons pour lesquelles des documents ne peuvent être accessibles au public.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text4"/>
  </xs:simpleType>

  <xs:simpleType name="sonstigeBestimmungenOrdnungssystemposition">
    <xs:annotation>
      <xs:documentation xml:lang="de">Angaben über sonstige rechtliche Auflagen, denen die Ordnungssystemposition unterstellt ist. </xs:documentation>
      <xs:documentation xml:lang="en">Information on other legal conditions to which the classification system position is subject. </xs:documentation>
      <xs:documentation xml:lang="fr">Informations sur d'autres éventuelles conditions légales auxquelles est soumise la position du système de classement.</xs:documentation>
      <xs:documentation xml:lang="it"/>
    </xs:annotation>
    <xs:restriction base="text4"/>
  </xs:simpleType>

</xs:schema>
